*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
    background-color: white;
    display: inline-block;
    margin-left: 10px;
}
span img {
    width: 10px;
    height: 20px;
}