*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head {
    display: inline-block;
    width: 60%;
    background-color: rgb(219, 25, 25);
}
span img {
    width: 30px;
    height: 30px;
}
span img:hover {
    width: 40px;
    height: 40px;
}
li a {
    display: inline-block;
    text-decoration: none;
    font-weight: 300;

    
}
.nrfr {
    text-align: end;
    display: flex;
    text-align: center;
}
